<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tingyu.springcloud.dao.OrderDao">

    <resultMap id="BaseResultMap" type="order">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="total" property="total" jdbcType="DECIMAL"/>
        <result column="used" property="used" jdbcType="DECIMAL"/>
        <result column="residue" property="residue" jdbcType="DECIMAL"/>
<!--        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>-->
<!--        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>-->
    </resultMap>
   <select id="findById" parameterType="int" resultMap="BaseResultMap">
       select * from t_order where id=#{id}
   </select>
    <insert id="create" parameterType="account" keyProperty="id" useGeneratedKeys="true">
        insert into t_account(user_id,total,used,residue)values (#{user_id},#{total},0,#{residue})
    </insert>
    <update id="decrease">
        update t_account set used=used+#{money},residue=residue-#{money} where user_id=#{userId};
    </update>
</mapper>
